APP_NAME="Mon Bulletin de Paie Marocain"
APP_ENV=local
APP_KEY=base64:3Lim1lWuPUW/VD7zpIA8iAUqc/NoIa+s4jVbUKNgvI0=
APP_DEBUG=true
APP_URL=http://localhost:8080

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

# Pas de base de données — application 100% stateless
DB_CONNECTION=sqlite
DB_DATABASE=/tmp/database.sqlite

CACHE_STORE=file
SESSION_DRIVER=file
SESSION_LIFETIME=120

FILESYSTEM_DISK=local
